<html lang='en' xmlns:v='urn:schemas-microsoft-com:vml' style='color-scheme: light dark;'>
  <head>
    <meta charset='utf-8' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='format-detection' content='telephone=no, date=no, address=no, email=no, url=no' />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <title>Confirm your email address</title>
    <style>
      :root { color-scheme: light dark; } .hover-bg-indigo-500:hover { background-color: #6366f1 !important; }
    </style>
  </head>
  <body
    style='word-break: break-word; -webkit-font-smoothing: antialiased; margin: 0; width: 100%; background-color: #f8fafc; padding: 0'
  >
    <div style='display: none'>
      Please confirm your email address in order to activate your account &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
    </div>
    <div role='article' aria-roledescription='email' aria-label='Confirm your email address' lang='en'>
      <div style='background-color: #e5e7eb; padding-top: 32px; padding-bottom: 48px; color: #1f2937'>
        <header
          style='margin-left: auto; margin-right: auto; margin-bottom: 16px; width: 83.333333%; border-top-left-radius: 8px; border-top-right-radius: 8px; background-color: #f9fafb; padding: 8px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)'
        >
          <div style='display: flex; align-items: center; column-gap: 20px'>
            <figure style='margin: 0; width: 80px; border-width: 1px; border-color: #000'>
              <img
                src='https://res.cloudinary.com/dr8snppzz/image/upload/v1660154188/digital-menu/logo_zby22a.png'
                alt='Logo'
                style='display: block; width: 100%'
              />
            </figure>
            <h1 style='margin: 0; font-size: 18px; color: #374151'>Nest Post App</h1>
          </div>
        </header>
        <div
          style='margin-left: auto; margin-right: auto; width: 83.333333%; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-color: #f9fafb; padding: 8px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1)'
        >
          <p style='font-size: 16px; color: #1f2937'>
            ¡Hola,
            <span style='font-weight: 700'>{{name}}</span>!
          </p>
          <p>
            Para verificar su dirección de correo electrónico haga clic en el siguiente botón
          </p>
          <a
            href='{{url}}'
            class='hover-bg-indigo-500'
            style='margin-left: auto; margin-right: auto; display: block; width: 83.333333%; border-radius: 4px; background-color: #3b82f6; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; color: #f3f4f6; text-decoration-line: none;'
          >
            <span style='mso-text-raise: 16px'>Confirmar Correo Electronico &rarr;</span>
          </a>
          <p style='font-size: 14px; color: #4b5563'>
            Si no creó una cuenta, no es necesario realizar ninguna otra acción.
          </p>
          <p>Saludos, Nest Pos App</p>
        </div>
      </div>
    </div>
  </body>
</html>